<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <style>
        body {
            background-image: url("{% static 'acre/imagenes/backhollow.jpg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="{% static 'acre/css/estilo.css' %}">
   

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'es', includedLanguages: 'es,ca,eu,gl,en,fr,it,pt,de', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true }, 'google_translate_element');
        }
    </script>

    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>Loreplay</title>
</head>

<body>

    <body>


        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{% url 'home' %}">

                        <img src="{% static 'acre/imagenes/banner acre.jfif' %}" alt="acre logo" width="1100" height="500">
                    </a>

                </div>
                <div class="carousel-item">
                    <a href="{% url 'hollowknight' %}">
                        <img src="{% static 'acre/imagenes/hollow banner.jpg' %}" alt="hollow banner" width="1100" height="500">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'soulsborne' %}">
                        <img src="{% static 'acre/imagenes/souls.jpg' %}" alt="souls" width="1100" height="500">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="sekiropage.html">
                        <img src="{% static 'acre/imagenes/sekiro.jpg' %}" alt="sekiro banner" width="1100" height="500">
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="littlenightmares.html">
                        <img src="{% static 'acre/imagenes/little banner.jpeg' %}" alt="little banner" width="1100" height="500">
                    </a>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div style="color:white; background-color: rgb(75, 74, 74); " >
            <p><a href="{% url 'home' %}" style="float: left; width: 50%; ;color: white;font-size: 30px;">Acre Home</a>

                
                    {% if user.is_authenticated %}
                    
                        <p>Bienvenido {{ user.username }}</p>
                        <p><a href="{% url 'logout' %}">Cerrar Sesión</a>
                        </p>
                    {% else %}
                    
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    
                    {% endif %}
                    
        </div>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{Capitulo.url}}"
                allowfullscreen></iframe>
        </div>
        
       {% if Wiki.titulo  != null %}
        <center>
            <h3 style="color:white ; background-color: black;margin-top: 20px; margin-bottom: 20px;">Acre Wiki </h3>
        </center>
        <p id="google_translate_element" class="google"></p>
        <div class="container" style="background-color:rgb(18, 17, 73); color: white;">
            <div class="row">
                <h3 style="color:white ;">Lugares visitados</h3>
                <div class="col-md-12 col-sm-12">
                    
                    <p><img src="{{Wiki.imagen.url}}" alt="mapcue" style="float: right;">
                    <h5>{{Wiki.titulo}}: </h5> 
                    </p>
                    <div> {{Wiki.texto}}</div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <p><img src="{{Wiki.imagen2.url}}" alt="mapab" style="float: right; margin-top: 10px;">
                    <h5>{{Wiki.titulo2}}: </h5> {{Wiki.texto2}}
                    </p>
                    
                </div>


            </div>
        </div>
        {% endif %}

       






    </body>

</html>