<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#mensaje_error").hide();
        $("#recuperar").submit(function(){
            var mensaje = "Rellene la casilla de correo";
            if($("#correo").val().trim().length == 0){
                mensaje = mensaje + " <br> La casilla de correo no puede estar vacia ";
            }
            if(mensaje != "Rellene la casilla de correo"){
                $("#mensaje_error").html(mensaje);
                $("#mensaje_error").show();
                event.preventDefault();

            }
        });

    });
    </script>
        <link type="text/css" rel="stylesheet" href="{% static 'acre/css/estilo.css' %}">
    <style>
        body {
            background-color: rgb(9, 9, 58);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="css/estilo.css">
    <title>Document</title>
</head>

<body>

    <div style="color:white; background-color: rgb(75, 74, 74); ">
        <p><a href="home.html" style="float: left; width: 50%; ;color: white;font-size: 30px;">Acre Home</a>

            <a href="iniciosesion.html" style="color: white; text-align: right;"> <img src="{% static 'acre/imagenes/img_avatar.png' %}"
                    alt="Avatar" class="avatar"> Inicia sesion</a>/<a href="registro.html"
                style="color: white;">Registrate</a>
        </p>
    </div>
    <div class="container form "  >
        <h1 >Recupera tu contraseña</h1>
        <form action="home.html" method="GET" name="recuperar" id="recuperar">
            <div id="mensaje_error" class="alert alert-danger"></div>
            <div class="form-group" style="margin-top: 10px;">
                <label for="correo">Correo electronico</label>
                <input type="text" class="form-control" name="correo" id="correo"
                    placeholder="Email con el que te registraste">
                    

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>




        </form>
        <div style="font-size: 30px;">Recibirás un email con instrucciones para la recuperacion de tu contraseña en
            el correo electronico que has
            registrado para crear tu usuario</div>
    </div>

</body>

</html>